.vehicle-create-container {
  width: 100%;
  max-width: 900px; /* Adjust as needed */
  margin: 0 auto;
}

.card {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  /* Optional: you can use max-width if you want a max limit */
  max-width: 100%;
}

.card-body {
  padding: 20px;
}
