/* Common styles for all fonts */
h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 95%; /* Adjust the width to create some space on the right */
  margin: 0 auto; /* Center the table */
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 10px; /* Reduce padding for better fit */
}

/* Adjust column widths */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 120px; /* Width for image column */
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 180px; /* Width for name column */
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 150px; /* Width for price column */
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 120px; /* Width for weight column */
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 100px; /* Width for stock column */
}

.table th.action-column,
.table td.action-column {
  width: 150px; /* Width for action column */
}

/* Add font-specific classes for each vehicle */
.apache-font {
  font-family: 'Bungee', cursive;
  color: #1a1a1a;
}

.jupiter-font {
  font-family: 'Lobster', cursive;
  color: #006400;
}

.ntorq-font {
  font-family: 'Fjalla One', sans-serif;
  color: #ff4500;
}

.raider-font {
  font-family: 'Abril Fatface', cursive;
  color: #8b0000;
}

.iqube-font {
  font-family: 'Montserrat', sans-serif;
  color: #0000ff;
}

.x-font {
  font-family: 'Oswald', sans-serif;
  color: #800080;
}

.king-font {
  font-family: 'Indie Flower', cursive;
  color: #ff6347;
}

.cargo-font {
  font-family: 'Teko', sans-serif;
  color: #ffa500;
}

.zest-font {
  font-family: 'Pacifico', cursive;
  color: #32cd32;
}

.pep-font {
  font-family: 'Fredoka One', cursive;
  color: #ff69b4;
}

.xl-font {
  font-family: 'Amatic SC', cursive;
  color: #a52a2a;
}

.default-font {
  font-family: 'Arial', sans-serif;
  color: #000;
}

/* Price Styling */
.price {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #1c1c1c;
  background-color: #f4f4f9;
  border-radius: 5px;
  padding: 10px;
}

.tab-img {
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button styling */
button {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0052a3;
}
