.card-body h1 {
    font-family: 'Poppins', sans-serif; /* Use the chosen font */
    font-size: 1.55rem; /* Adjust font size */
    font-weight: 600; /* Make it bold */
    color: #f33939; /* Change font color */
    margin-bottom: 10px;
    text-transform: uppercase; /* Optional: Makes the text uppercase */
    letter-spacing: 1px; /* Adds some spacing between letters */
  }
  